#define WASPMOTE_ID "BOX_001"
#define WIFI_PASSWORD "qwerty"
#define SSID "adressaparken"
#define SECURITY WPA2 // Alt: OPEN, WEP64, WEP128, WPA (WPA-PSK with TKIP encryption), WPA2 (WPA2-PSK with TKIP or AES encryption)
#define SERVER_HOSTNAME "libeliumserver.parken"